version: '3.8'

services:
  db:
    image: postgres:16  
    environment:
      POSTGRES_USER: postgres      
      POSTGRES_PASSWORD: 123456    
      POSTGRES_DB: laptopshop 
      TZ: Asia/Ho_Chi_Minh
      PGTZ: Asia/Ho_Chi_Minh    
    ports:
      - '5432:5432'                
    volumes:
      - db_data:/var/lib/postgresql/data 

volumes:
  db_data:
  test_db_data: