.product-page {
  width: 100%;
  background-color: #f8fafc;
  color: #222;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .category-toggle {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 4.7rem;
    gap: 20px;

    button {
      background: #c6c6c6;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.3s;

      &.active {
        background: #1ea971;
        color: #fff;
        font-weight: 600;
      }

      &:hover {
        background: #1ea971;
        color: #fff;
      }
    }
  }

  .header__hero-image {
    position: relative;
    width: 100%;
    height: 320px;
    overflow: hidden;
    border-radius: 10px;
    padding: 0 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: solid 1px #acaaaa;
    }
  }

  .banner-dots.external {
    position: relative; 
    bottom: unset; 
    margin-top: -30px;
    margin-bottom: 30px; 
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;

    .dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.4); 
      cursor: pointer;
      transition: 0.3s;

      

      &:hover {
        background: #1ea971;
      }
      &.active {
        background: #000d08;
      }
    }
  }

  .main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    padding: 0 40px;

    .filter-section {
      flex: 0 0 300px;
      background: #e4e9ee;
      border-radius: 12px;
      padding: 20px;
      margin-bottom: 30px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
      height: fit-content;
      z-index: 5;
      .filter-divider{
        position: sticky;
        top: 80px;          
        height: calc(100vh - 100px); 
        overflow-y: auto;  
        overflow-x: hidden; 
        padding-right: 6px; 

        .filter-section::-webkit-scrollbar {
          width: 1px !important;
        }
        .filter-section::-webkit-scrollbar-thumb {
          background: #ccc;
          border-radius: 10px;
        }
        .filter-section::-webkit-scrollbar-thumb:hover {
          background: #bbbbbb;
        }
      }

      .filter-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        h3 {
          font-size: 20px;
          font-weight: 600;
          color: #333;
        }

        .filter-buttons {
          display: flex;
          gap: 8px;

          button {
            padding: 6px 12px;
            border-radius: 6px;
            font-weight: 500;
            cursor: pointer;
            border: none;
            font-size: 14px;
            transition: 0.3s;

            &.btn-filter {
              background: #1ea971;
              color: #fff;
            }

            &.btn-reset {
              background: #f1a6a6;
              color: #333;
            }

            &:hover {
              opacity: 0.8;
            }
          }
        }
      }

      .filter-item {
        margin-bottom: 20px;

        .filter-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          user-select: none;

          label {
            font-weight: 600;
            font-size: 15px;
          }

          svg {
            font-size: 14px;
            transition: transform 0.3s ease;
          }
        }

        .brand-grid,
        .feature-grid,
        .option-grid,
        .price-inputs {
          margin-top: 10px;
          overflow: hidden;
          transition: all 0.3s ease;
        }

        .brand-grid {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
          gap: 10px;

          .brand-item {
            border: 1px solid #cacaca;
            background: #fff;
            border-radius: 8px;
            padding: 6px;
            cursor: pointer;
            transition: 0.3s;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: 70px;
              height: 40px;
              object-fit: contain;
            }

            &.selected {
              border: 2px solid #0c0c0c;
            }

            &:hover:not(.selected) {
              border-color: #1ea971;
            }
          }
        }

        .feature-grid {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px;

          .feature-item {
            border: 1px solid #cacaca;
            background: #fff;
            border-radius: 8px;
            padding: 8px 10px;
            text-align: center;
            cursor: pointer;
            font-size: 14px;
            transition: 0.3s;

            &.selected {
              background: #1ea971;
              color: #fff;
              border-color: #1ea971;
            }

            &:hover {
              border-color: #1ea971;
            }
          }
        }

        .option-grid {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px;

          .option-item {
            border: 1px solid #cacaca;
            background: #fff;
            border-radius: 6px;
            padding: 6px 10px;
            text-align: center;
            cursor: pointer;
            font-size: 13px;
            transition: 0.3s;

            &.selected {
              background: #1ea971;
              color: #fff;
              border-color: #1ea971;
            }

            &:hover {
              border-color: #1ea971;
            }
          }
        }

        .price-inputs {
          display: flex;
          align-items: center;
          gap: 8px;
          margin-top: 10px;

          input {
            width: 100%;
            padding: 6px;
            border-radius: 6px;
            border: 1px solid #cacaca;
            background: #fff;
            outline: none;
            font-size: 13px;

            &:focus {
              border-color: #1ea971;
            }
          }

          span {
            color: #666;
          }
        }
      }
    }

    .product-list {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding-bottom: 30px;
      gap: 20px;
      position: relative; 
      z-index: 1;

      h3 {
        font-size: 18px;
        font-weight: 600;
      }

      .product-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); 
        gap: 20px;
      }
      .load-more-container{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        .load-more-icon {
          margin-left: 8px;
          font-size: 14px;
          vertical-align: middle;
          font-size: 16px;
        }

        .load-more-button {
          background: #68696a;
          color: #fff;
          border: none;
          padding: 10px 20px;
          font-size: 16px;
          border-radius: 8px;
          cursor: pointer;
          transition: 0.3s;

          &:hover {
            background: #4b4b4c;
          }
        }
      }

      .product-card {
        background: #fff;
        border-radius: 12px;
        padding: 15px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
        position: relative;
        display: flex;
        flex-direction: column;
        transition: transform 0.3s ease;

        &:hover {
          transform: translateY(-3px);
        }

        .discount {
          position: absolute;
          top: 10px;
          left: 10px;
          background: #1976d2;
          color: #fff;
          font-size: 12px;
          font-weight: 600;
          padding: 2px 6px;
          border-radius: 4px;
        }

        img {
          width: 100%;
          height: 180px;
          object-fit: contain;
          border-radius: 8px;
        }

        .info {
          margin-top: 10px;
          text-align: center;

          .rating {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            color: #f4b400;
            font-size: 14px;

            span {
              color: #555;
              font-size: 13px;
            }

            .star {
              font-size: 13px;
            }
          }

          h3 {
            margin-top: 5px;
            font-size: 15px;
            font-weight: 600;
            height: 40px;
            overflow: hidden;
          }

          .price {
            margin-top: 6px;
            display: flex;
            justify-content: center;
            align-items: baseline;
            gap: 8px;

            &.center {
              justify-content: center;
            }

            .new {
              color: #1ea971;
              font-weight: 600;
              font-size: 15px;
            }

            .old {
              color: #999;
              font-size: 13px;
              text-decoration: line-through;
            }
          }

          .actions {
            margin-top: 10px;
            display: flex;
            gap: 10px;
            justify-content: center;

            button {
              flex: 1;
              padding: 6px 10px;
              border-radius: 8px;
              border: none;
              cursor: pointer;
              font-weight: 500;
              transition: 0.3s;

              &.add-cart {
                background: #1976d2;
                color: #fff;
              }

              &.buy-now {
                background: #16a34a;
                color: #fff;
              }

              &:hover {
                opacity: 0.85;
              }
            }
          }
        }
      }
    }
  }

  /* responsive */
  @media (max-width: 770px) {
    .category-toggle {
      margin-left: 0rem;
      margin-right: 0rem;
    }
    

    .main-content {
      flex-direction: column;
      padding: 0 10px;
      padding-top: 0;
      align-items: none;
      .product-list{
        margin-top: 20px;
      }

      .filter-section {
        width: 100%;
        position: relative; 
        order: -1;
      }

      .product-list {
        width: 100%;
        padding: 30px 0;
        .product-grid {
          grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); 
        }
      }
    }
  }

  @media (max-width: 480px) {
    .main-content {
      .product-list {
        .product-grid {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
